#header {
  background: #121214;
  background-size: 100% 100%;
  padding-bottom: nav-height;
  position: relative;
}
#header-content {
  max-width: 1120px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background: url("images/banner.jpg") no-repeat 100% 100%;
  background-size: 100% 100%;
}
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  position: relative;
}
#header-title {
  text-align: center;
  padding: 60px 30px;
}
#header-title .logo-wrap,
#header-title .subtitle-wrap {
  float: left;
}
#header-title .subtitle-wrap {
  padding: 10px 0px 0px;
  margin-left: 20px;
}
#header-title .subtitle {
  font-size: 26px;
  font-weight: bold;
  line-height: logo-height10;
  color: #fff;
  text-shadow: 0 0 4px #11ec1a;
}
